---
import PageLayout from "@layouts/PageLayout.astro";
import { PostList } from "@components/blog/PostList";
import { CategoryNav } from "@components/blog/CategoryNav";
import { CategoryHeader } from "@components/blog/CategoryHeader";
import { CATEGORY_SLUGS, getCategoryMeta } from "@lib/categories";
import { getPostsByCategory } from "@lib/posts";

export async function getStaticPaths() {
  return CATEGORY_SLUGS.map((category) => ({
    params: { category },
  }));
}

const { category } = Astro.params;
const meta = getCategoryMeta(category);
const posts = await getPostsByCategory(category);
---

<PageLayout
  title={meta?.label ?? category}
  description={meta?.description}
  permalink={`/category/${category}`}
>
  <CategoryHeader category={meta!} count={posts.length} client:load />

  <div class="mt-8 mb-6">
    <CategoryNav active={category} />
  </div>

  <PostList posts={posts} client:load />
</PageLayout>
