---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import { AuthorHero } from "@components/blog/AuthorHero";
import { PostList } from "@components/blog/PostList";
import { getPostsByAuthor } from "@lib/posts";

export async function getStaticPaths() {
  const authors = await getCollection("authors");
  return authors.map((author) => ({
    params: { author: author.id },
    props: { author },
  }));
}

const { author } = Astro.props;
const posts = await getPostsByAuthor(author.id);
---

<PageLayout
  title={author.data.name}
  description={author.data.bio}
  permalink={`/authors/${author.id}`}
>
  <AuthorHero author={author} posts={posts} client:load />

  <div class="mt-12 mb-8 flex items-center gap-4">
    <div
      class="h-px flex-1 bg-gradient-to-r from-transparent via-border to-border"
    >
    </div>
    <h2 class="shrink-0 text-2xl font-semibold tracking-tight">
      Posts by {author.data.name.split(" ")[0]}
    </h2>
    <div
      class="h-px flex-1 bg-gradient-to-l from-transparent via-border to-border"
    >
    </div>
  </div>

  <PostList posts={posts} client:load />
</PageLayout>
